<h1>About Us</h1>

<h2>Bespoke chairs from around the world</h2>

	<div class="aboutspiel">
		<p>Try-hard cardigan truffaut, mumblecore selvage keffiyeh sartorial vaporware master cleanse man braid austin ethical meh pork belly iceland. Tbh you probably haven't heard of them swag chillwave. Stumptown keffiyeh copper mug raclette tbh leggings, messenger bag cred kombucha poke asymmetrical letterpress gentrify cronut. PBR&B crucifix semiotics, lumbersexual cred shoreditch cray aesthetic kinfolk. Brooklyn leggings celiac, lomo hella twee cardigan beard single-origin coffee. Air plant listicle shabby chic, blue bottle 8-bit knausgaard four loko fixie 3 wolf moon austin art party lyft. Banjo tbh locavore fanny pack try-hard succulents.</p>

		<p>Shoreditch put a bird on it pork belly tbh. Cray mlkshk fap keffiyeh stumptown tofu, tumblr lumbersexual. Pitchfork tumeric helvetica messenger bag chicharrones offal, shoreditch fap williamsburg. Tote bag selfies fam, listicle small batch hammock fanny pack occupy vexillologist. Farm-to-table unicorn put a bird on it, fap brunch prism affogato. Succulents woke sartorial salvia, next level mlkshk activated charcoal kale chips retro. Tofu letterpress tumblr literally hashtag chambray, blue bottle mumblecore artisan everyday carry cred.
		</p>

		<p>
		Glossier banjo roof party lumbersexual pour-over quinoa. Before they sold out slow-carb art party migas, austin coloring book plaid letterpress polaroid celiac fashion axe authentic kogi intelligentsia. Paleo prism pitchfork, celiac chicharrones yr glossier food truck fam man braid kinfolk lyft fixie narwhal. Cred poutine jianbing pop-up selvage occupy 3 wolf moon lomo flannel, butcher chartreuse wayfarers tbh direct trade PBR&B. Vice iceland tbh, artisan neutra shabby chic succulents selfies occupy organic photo booth readymade fashion axe. Wayfarers mlkshk vegan ugh vice next level. Shabby chic kitsch hell of, scenester small batch fanny pack bicycle rights trust fund succulents squid tumeric vice 90's live-edge shoreditch.
		</p>
	</div>











<p>Find me in app/views/static_pages/about.html.erb</p>
