<div class="jumbotron">
  <h1 class="display-3">Welcome to World of Chairs!</h1>
  <p class="lead">This is a humble site. We come together in our love of chairs. Chairs here are from all around the world. You will love them.</p>
  <hr class="my-4">
  <p>Explore our chairs with love and respect. No hate or negative comments, please!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div> It is really good and you should sign up to our mailing list – we definitely will not spam you.</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-6" class="chairtile">
      <h2>Chairs from Europe</h2>
      <img class="imagefit" src="http://www.carlhansen.com/media/674167/Heritage_Chair_07.png">
    </div>
    <div class="col-6" class="chairtile">
      <h2>Chairs from America</h2>
      <img class="imagefit" src="http://www.carlhansen.com/media/674167/Heritage_Chair_07.png">
    </div>
  </div>
  <div class="row">
    <div class="col-4" class="chairtile">
      <h2>Chairs from Asia</h2>
      <img class="imagefit" src="http://www.carlhansen.com/media/674167/Heritage_Chair_07.png">
    </div>
    <div class="col-4" class="chairtile">
      <h2>Chairs from Australia</h2>
      <img class="imagefit" src="http://www.carlhansen.com/media/674167/Heritage_Chair_07.png">
    </div>
    <div class="col-4" class="chairtile">
      <h2>Chairs from the Poles</h2>
      <img class="imagefit" src="http://www.carlhansen.com/media/674167/Heritage_Chair_07.png">
    </div>
  </div>
</div>



<p>Find me in app/views/static_pages/home.html.erb</p>


