/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
	margin: 5% 6% 5% 6%;

	font-style: italic;
	background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8e9eab, #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.headerquote {
	margin-left: 15% 0 15%;
	background-color: 	rgba(248, 248, 255, .5);
}

h1 {
	margin-bottom: 2%;
	margin-top: 2%;
}


 .myblockquote {
	 text-align: center;
	 font-style: italic;
 }

.author {
	text-align: right;
	font-style: italic;
}

h2 {
	text-align: center;
	font-style: italic;
}

.imagefit {
display: block;
margin: auto;
background-repeat: no-repeat;
max-width: 50%;
}

.chairtile {
	padding: 10%;
}
